.content.content-full
  .aligncenter
    %h3.no-margin
      %em Crowd Spot is the ultimate Craigslist Selling Tool
    %p
      You can try Crowd Spot for free, but have to pay for multiple accounts and commercial use.
  #pricing
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %thead
        %tr
          %td
            %h3 Free
            = link_to "Choose plan", new_verified_user_registration_path, :class => :button
          %td.highlight
            %h3 Standard
            = link_to "Choose plan", new_verified_user_registration_path, :class => :button
          %td
            %h3 Premium
            = link_to "Choose plan", new_verified_user_registration_path, :class => :button
      %tbody
        %tr
          %td
            %ul
              %li
                %strong 1
                %span Crowd Spot Email Address
                %span.details Send a receive emails from a single Crowdspot Email Address
              %li
                %strong 5
                %span Listings at a time
                %span.details List up to 5 items on Craigslist at a time.
              %li
                %strong Non-commercial
                %span use
                %span.details For personal use only.

              %li
                %strong 250MB
                %span attachment storage
                %span.details Store up to 250MB of email attachments
              %li
                %strong Unlimited
                %span Emails
                %span.details Send and receive an unlimited number of emails.
          %td.highlight
            %ul
              %li
                %strong 5
                %span Crowd Spot Email Addresses
                %span.details Send a receive emails from 5 Crowdspot Email Addresses
              %li
                %strong 20
                %span Listings at a time
                %span.details List up to 5 items on Craigslist at a time.
              %li
                %strong Commercial
                %span use
                %span.details For personal and commercial use.
              %li
                %strong 1GB
                %span attachment storage
                %span.details Store up to 1GB of email attachments
              %li
                %strong Unlimited
                %span Emails
                %span.details Send and receive an unlimited number of emails.
          %td
            %ul
              %li
                %strong 25
                %span Crowd Spot Email Addresses
                %span.details Send a receive emails from 25 Crowdspot Email Addresses
              %li
                %strong 50
                %span Listings at a time
                %span.details List up to 5 items on Craigslist at a time.
              %li
                %strong Commercial
                %span use
                %span.details For personal and commercial use.
              %li
                %strong 5GB
                %span attachment storage
                %span.details Store up to 5GB of email attachments
              %li
                %strong Unlimited
                %span Emails
                %span.details Send and receive an unlimited number of emails.
        %tr.price
          %td
            %span Free
          %td.highlight
            %span
              $5
              %small per month
          %td
            %span
              $20
              %small per month
